*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

.cabecalho {
  display: flex;
  color: white;
  height: 60px;
  font-size: xx-large;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 20px;
  border: solid 2px yellow;
  border-top: solid black 2px;
  border-left: solid black 2px;
  border-right: solid black 2px;
}

.cabecalho span {
  border-radius: 50px;
  margin-right: 20px;
  padding: 10px;
}

.cabecalho span:hover {
  background-color: white;
  color: black; 
  border-radius: 50px;
  margin-right: 20px;
  padding: 10px;
}

.cabecalho button {
  height: 30px;
  width: 90px;
  border-radius: 5px;
  font-size: large;
  padding-top: 5px;
}

.cabecalho span {
  margin-left: 50px;
}

.films img {
  width: 200px;
  margin: 17px;
}

.films :hover {
  width: 210px;
  margin: 1px;
  border: solid yellow 3px;
  border-top: solid black 3px;
  border-left: solid black 3px;
  border-right: solid black 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;

}

p {
  color:  white;
  margin-top: 80px;
  font-size: xx-large;
  margin-left: 420px;
}

.conteudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

hr {
  max-width: 1205px;
}

footer { 
  border-top: solid yellow 2px;
  height: 50px;
  margin-top: 60px;
}

footer p {
  display: flex;
  justify-content: center;
  margin: 50px;
}

